body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:#fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* 
   Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    /****************************************
        Custom overwrite of bootstrap classes
    *****************************************/

    .form-control-search {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control-search:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Text and color overwrites */

.text-danger {
    color:#FF9090
}

a {
    color: #00ccff
}

a:hover {
    color:#7fe5ff;
}

.white-text
{
    color:#ffffff;
}

.main-body
{
    background-color:#717171;

}

/* Create 3d cards */

.shadow
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card
{
    background-color:#ffffff;
    color:#232323;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px;
    margin-top:10px;
    height:100%;
    display:table;
    min-height:175px;
    width:100%;
}

.imgcard
{
    background-color:#ffffff;
    color:#232323;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:10px;
    height:100%;
    display:table;
    min-height:175px;
    width:100%;
}

img {
    max-width:100%;
    max-height:100%;
    min-height:100%;
}

/* Positioning */

.float-right
{
    float:right;
}
.float-left
{
    float:left;
}

/* Navbar modifications */

.navbar {
    background-color:#383838;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover,  
.navbar-inverse .navbar-brand:focus {  
  color: #00ccff;  
  background-color: transparent; 
}


.navbar-inverse .navbar-text {  
  color: #fff;  
   background-color:transparent;  
} 

.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
    color: #ffffff;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
    color:#00ccff;                      
}

