@{
    ViewBag.Title = "Home";
}

@*
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
*@

<div class="row">
    <div class="col-md-12">
        <div class="imgcard">
            <img src="~/Images/waterdrops.JPG" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h2>Explore</h2>
            <p>
                Adventure through the final frontiers on Earth.  
            </p>
            <p>
                M.U.L.E allows you to navigate locations never before seen by another person, and collect unique information tailored to your adventure. 
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h2>Share</h2>
            <p>New experiences are better with a community.</p>
            <p>M.U.L.E's social network develops a community with a focus on contibuting and discussing user generated adventures.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h2>Learn</h2>
            <p>See the unknown. Find understanding.</p>
            <p>M.U.L.E allows hobbyists, students, and experts to collaborte on real science. Develop questions and work with each other to find answers.</p>
        </div>
    </div>
</div>